    * {
        margin: 0;
        padding: 0;
    }


    .left-box {
        position: fixed;
        top: 49px;
        height: 100vh;
        background-color: #353541;
        width: 35%;

    }

    .right-box {
        position: absolute;
        min-height: calc(100vh - 49px);
        top: 49px;
        background-color: #434352;
        width: 65%;
        right: 0;
    }

    .d-n {
        display: none;
    }

    .white-text {
        color: aliceblue;
    }

    .left-mid-box {
        top: 10px;
        position: relative;
        padding: 10px;
        width: 100%;
    }

    .left-top-box {
        height: 100px;
        text-align: center;
        align-items: center;
        width: 100%;
    }

    .custom-input {
        width: 100%;
        height: 250px;
        background-color: #353541;
        border: 1px solid #bababa;
        outline: none;
        resize: none;
        border-radius: 5px
    }

    .custom-input:focus {
        background-color: #353541;
        border: 1px solid #5e9085;
    }

    .left-bottom-box {
        margin-top: 25px;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .custom-output {
        background-color: #31313c;
        outline: none;
        border: none;
        resize: none;
        margin: 10px 1% 0 1%;
        width: 98%;
        min-height: calc(100vh - 69px);
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(99, 113, 124);
        border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(99, 113, 124);
    }

    .colorful {
        width: 31.4px;
        height: 31.4px;
        border-radius: 50%;
        background: rgb(94, 194, 234);
        transform-origin: top;
        display: grid;
        animation: colorful-3vgb5t 1s infinite linear;
        position: absolute;
        left: 46%;
    }

    .colorful::before,
    .colorful::after {
        content: "";
        grid-area: 1/1;
        background: greenyellow;
        border-radius: 50%;
        transform-origin: top;
        animation: inherit;
        animation-name: colorful-k94uub;
    }

    .colorful::after {
        background: red;
        --s: 180deg;
    }

    @keyframes colorful-3vgb5t {

        0%,
        20% {
            transform: rotate(0);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes colorful-k94uub {
        50% {
            transform: rotate(var(--s, 90deg));
        }

        100% {
            transform: rotate(0);
        }
    }

.colorful::before,
.colorful::after {
   content: "";
   grid-area: 1/1;
   background: greenyellow;
   border-radius: 50%;
   transform-origin: top;
   animation: inherit;
   animation-name: colorful-k94uub;
}

.colorful::after {
   background: red;
   --s: 180deg;
}

@keyframes colorful-3vgb5t {
   0%, 20% {
      transform: rotate(0);
   }

   100% {
      transform: rotate(360deg);
   }
}

@keyframes colorful-k94uub {
   50% {
      transform: rotate(var(--s,90deg));
   }

   100% {
      transform: rotate(0);
   }
}

.loading-box {
    margin-top: 50px;
}