{% extends 'base.html' %}
{% block content %}
<nav class="navbar fixed-top bg-body-tertiary bg-dark">
    <div class="container-fluid" style="justify-content: center; align-items: center;">
        <a style="font-size:22px;"><span style="color: red;">Gen</span><span
                style="color: greenyellow;">Perfect</span><span style="color: rgb(94, 194, 234);">Trip</span>
        </a>
    </div>
</nav>

<div class="left-box">
    <div class="left-mid-box">
            <div class="left-top-box">
                <div>
                    <h4 class="white-text">
                        Tell your futural trip;</h4>
                </div>
                <div>
                    <h4 class="white-text">
                        Get the perfect plan.</h4>
                </div>
            </div>
            <form method="get">
                {% csrf_token %}
                <div class="form-floating">
                     <textarea class="custom-input white-text" id="user_input" name="user_input" autofocus="autofocus" required></textarea>·
                </div>
                <div class="left-bottom-box">
                    <button class="btn btn-outline-success" id="test-generate">generate plan</button>
                </div>
                <div class="left-bottom-box">
                    <button class="btn btn-outline-info d-n" id="test-improve">improve plan</button>
                </div>

                <div class="left-bottom-box">
                    <div class="loading-box d-n" id="loading-box">
                        <div class="colorful"></div>
                        <div class="white-text" style="margin-top: 30px" >We are generating your plan, please wait...</div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="right-box">
        <textarea class="white-text custom-output d-n" id="output">
        </textarea>
        <textarea class="custom-output d-n white-text" id="new_output">
        </textarea>
    </div>
{% endblock %}